.blogListBody {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.blogListSubTitle {
    grid-area: 1 / 1 / 2 / 4;
    padding-left: 8vh;
    padding-top: 4vh;
    color: #b21f66;
}

.blogListBodySub {
    grid-area: 2 / 1 / 6 / 4;
    padding-left: 10vh;
}

.blogListBlogCard {
    margin-bottom: 2vh;
    width: 50%;
    margin-right: 4vh;
}

.blogListBlogCard:hover {
    background-color:rgb(254, 52, 110, .10);

}

.blogListBlogTitle {
    color: #fe346e;
    margin-left: 1vh;
    text-decoration: none;
    font-size: 2vh;
    font-weight: 800;
}

.blogListBlogDescrip {
    margin-left: 4vh;
}