.blogDetailsBody {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.blogDetailsBreadcrumbs {
    grid-area:  1 / 1 / 2 / 4;
    padding-left: 3vh;
    color: #fe346e;
}

.blogDetailsTitle {
    grid-area: 2 / 1 / 3 / 4;
    padding-left: 5vh;
    color: #b21f66;
}

.blogDetailsMain {
    grid-area: 3 / 1 / 7 / 4;
    padding-left: 7vh;
    position: relative;
}

.blogDetailsRelated {
    position: relative;
    bottom: 10px;
    color: #fe346e;
}

.blogDetailsSub {
    grid-area: 1 / 4 / 7 / 6;
    background-color:rgb(254, 52, 110, .10);
    text-align: center;
}