.gamesListBody {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 20px;
}

.gamesListBodySearch {
    grid-area:  1 / 2 / 2 / 5;
}

.gamesListGameSearchbar{
    width: 33%;
    height: 3vh;
}

.gameListGamesSearchButton {
    height: 3.5vh;
    width : 8vh;
    background-color: white;
}

.gamesListBodySubCata {
    grid-area: 1 / 1 / 6 / 2;
    text-align: center;
}

.gamesListCatagories {
    border: 1px solid black;
    text-align: center;
    height: 100%;
    padding: 20px;
}

.gameCarousel{
    grid-area:  2 / 2 / 5 / 5;
    padding-left: 20px;
}

.gameListBodyBlog {
    grid-area:  5 / 2 / 6 / 5;
    padding-left: 20px;

}