.gameGuidesBody {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.guideListSub {
    grid-area: 1 / 5 / 7 / 7;
    text-align: center;
    margin-top: 3vh;
}

.guideListSub2 {
    grid-area: 1 / 1 / 3 / 5;
    text-align: center;
}

.guideListSub3 {
    grid-area: 3 / 1 / 7 / 5;
    text-align: center;

}

.guidesListTitle {
    color: #b21f66;
    text-align: start;
    margin-left: 5vh;
    font-size: 3vh;
}

.guidesListClasses {
    border: 2px solid #381460;
    color: #fe346e;
    width: 100%;
    margin-left: 2vh;
    margin-right: 2vh;
}

.guidesListGuideName {
    color: black;
    margin-left: 2vh;
    margin-right: 2vh;
}

.guidesListGuideName:hover {
    background-color:rgb(254, 52, 110, .10);
    color: black;
}

.guidesListNameOfGuide {
    color: #fe346e;
    text-align: start;
    margin-left: 9vh;
}

