.gameGuideDeatilsBody {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.gameGuideDetailsSubTOC {
    grid-area: 1 / 1 / 6 / 2;
}

.gameGuideDetailsSearch{
    text-align: center;
}

.gameGuideDetailsTOC {
    border: 1px solid black;
    margin-left: 10px;
    padding: 20px;
}

.gameGuideDetailsBreadcrumbs{
    color: #fe346e;
}

.gameGuideDetailsMainContent {
    grid-area: 1 / 2 / 6 / 6;
    padding: 50px;
    width: 75%;
    position: relative
}

.gameGuideDetailsTitle {
    color: #b21f66;
}

.gameGuideDetailsAuthor {
    color: #b21f66;
    margin-left: 2vh;
}

.gameGuideDetailsGoBack {
    position: absolute;
    left: 50px;
    bottom: 10px;
    color: #fe346e;
    font-size: 1vh;
    font-weight: 700;
}

.gameGuideDetailsGoNext {
    position: absolute;
    right: 50px;
    bottom: 10px;
    color: #fe346e;
    font-size: 1vh;
    font-weight: 700;
}

.gameGuideDetailsSub {
    grid-area: 1 / 6 / 6 / 8;
    /* background-color: rgb(56, 20, 96, .10); */
    height: 100%;
    text-align: center;
    margin-top: 2vh;
}